@use '../../colors' as *;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.login,
.signup {
	width: 100%;
	height: 100%;
	display: flex;

	.auth-decoration {
		width: 50%;
		min-height: 100vh;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $bg-secondary;

		.circle {
			width: 220px;
			height: 220px;
			position: relative;
			border-radius: 50vw;
			// background-color: $primary-color;
			background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8MHx8&w=1000&q=80');
			background-size: cover;
			background-position: center;
			animation: spin 120s linear infinite;
			transition: 4s;

			&:hover {
				background-image: url('https://i.ytimg.com/vi/QVui_0B3-4Q/hqdefault.jpg');
			}
		}

		.blur {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background-color: rgba(27, 27, 27, 0.2);
			backdrop-filter: blur(20px);
			pointer-events: none;
		}
	}

	.auth-form {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-self: center;
		padding: 0 15%;

		h2 {
			margin-bottom: 0.2em;
			font-size: 3.4rem;
		}

		&__title {
			margin-bottom: 2em;
		}

		.email-sent {
			&__img {
				width: 100%;
			}

			.btn {
				margin: 1em 0;
			}

			.redirect {
				font-size: 1.4rem;
				color: $text-low-contrast;
			}
		}

		input {
			border: 1px solid $border-color;
		}

		.reset-password {
			align-self: flex-end;
			margin-bottom: 2em;
			border: 0;
			font-size: 1.6rem;
			text-decoration: none;
			background-color: transparent;
			color: $primary-color;
			cursor: pointer;
		}

		.change-page {
			align-self: center;
			margin-top: 2em;

			a {
				text-decoration: none;
				color: $primary-color;
				cursor: pointer;
			}
		}

		.btn {
			padding: 12px;
		}
	}
}

.github-btn {
	width: 100%;
	height: 46px;
	display: flex;
	align-items: center;
	padding: 0 18px 0 8px;
	margin: 5px 0;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	background-color: #24292e;
	color: #fff;
	cursor: pointer;

	span {
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
	}
}

.google-btn {
	width: 100%;
	display: flex;
	align-items: center;
	padding: 0 18px 0 0;
	margin: 5px 0;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	background-color: #4285f4;
	color: #fff;
	cursor: pointer;

	span {
		width: 100%;
		font-family: 'Roboto', sans-serif;
		font-size: 18px;
	}
}

.others-separator {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em 0;

	span {
		margin: 0 1em;
		color: #fff;
		opacity: 0.4;
	}

	&::before,
	&::after {
		content: '';
		height: 1px;
		width: 100%;
		background-color: #fff;
		opacity: 0.1;
	}
}

@keyframes spin {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
