.chat-options {
	max-width: 380px;
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-basis: 100%;
	padding: 1.5em 1em;
	border-left: 1px solid var(--border-color);
	z-index: 100;

	.avatar {
		width: 75px;
		height: 75px;
	}

	h3 {
		min-width: max-content;
		margin: 0.2em 0 1.5em 0;
	}

	.option {
		width: 100%;
		min-width: max-content;
		align-self: flex-start;
		display: flex;
		gap: 1em;
		margin-bottom: 0.2em;
		padding: 0.4em 0.5em;
		border-radius: var(--border-radius);
		cursor: pointer;
		transition: 0.3s;
		color: var(--text-primary);

		&:hover {
			background-color: var(--bg-dark-lighten15);
		}

		&__icon {
			width: 28px;
			height: 28px;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50vw;
			font-size: 1.3rem;
			background-color: var(--bg-dark-lighten15);

			i {
				pointer-events: none;
			}
		}
	}

	.modal {
		&:has(.theme-creator) {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			transform: unset;
		}

		&__content {
			padding-top: 2.5em;

			.user {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 3em;
				padding: 0.5em;
				border-radius: var(--border-radius);
				cursor: pointer;
				transition: 0.3s;

				&:hover {
					background-color: var(--bg-secondary-lighten10);
				}

				.author {
					display: flex;
					align-items: center;
					gap: 0.6em;
				}

				.avatar {
					min-width: 45px;
					width: 45px;
					min-height: 45px;
					height: 45px;
				}

				&__display-name {
					font-weight: 600;
				}

				p {
					color: var(--text-primary);
					&:nth-of-type(2) {
						font-size: 1.3rem;
						color: var(--text-mid-contrast);
					}
				}

				input {
					width: 100%;
					// display: none;
				}

				i {
					padding: 0.5em;
					border-radius: 50vw;
					font-size: 1.9rem;
					transition: 0.3s;

					&:hover {
						background-color: var(--bg-secondary);
					}
				}
			}
		}
	}
}
