.profile {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	z-index: 100;

	.wrapper {
		width: 100%;
		max-width: calc(100vw - 8em);
		min-height: 100%;
		position: relative;
		padding: 5.5em 2.5em 2em 2.5em;
		margin: 0 auto;
		border-radius: 8px;
		background-color: var(--bg-dark-lighten5);
		overflow: hidden;
		z-index: 0;
	}

	@media screen and (min-width: 576px) {
		.wrapper {
			max-width: calc(100vw - 12em);
		}
	}

	@media screen and (min-width: 992px) {
		.wrapper {
			max-width: 800px;
		}
	}

	@media screen and (min-width: 1200px) {
		.wrapper {
			max-width: 900px;
		}
	}

	@media screen and (min-width: 1600px) {
		.wrapper {
			max-width: 1000px;
		}
	}

	.banner {
		width: 100%;
		height: calc(2em + 100px);
		position: absolute;
		top: 0;
		left: 0;
		background-size: cover;
		background-position: center;
		z-index: -1;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 2em;

		> .flex-row {
			gap: 1em;
		}

		.flex-column {
			gap: 1em;
			align-self: flex-end;
			margin-bottom: 1em;

			&:has(> .account-status) {
				align-self: flex-start;
				align-items: flex-end;
			}

			.name {
				font-size: 3rem;
				color: var(--text-primary);
			}

			.bio {
				margin-top: -0.3em;
				word-wrap: break-word;
				line-height: 1.1em;
				font-size: 1.5rem;
				color: var(--text-primary-darken20);
				font-style: italic;
			}

			.badges {
				display: flex;
				flex-wrap: wrap;
				gap: 0.5em;

				&__badge {
					display: flex;
					padding: 0.4em 0.6em;
					border-radius: 9px;
					font-weight: bold;
					font-size: 1.2rem;
					background-color: var(--bg-dark-lighten15);
					color: var(--text-primary-darken50);

					.country {
						display: flex;
						align-items: center;
						gap: 0.5em;
					}
				}
			}
		}

		.account-status {
			min-width: max-content;
			display: flex;
			align-items: center;
			gap: 0.5em;
			padding: 0.5em 0.8em;
			margin-top: 1.5em;
			border-radius: 4px;
			background-color: var(--bg-dark-lighten15);

			&--premium {
				span {
					-webkit-background-clip: text;
					background-clip: text;
					font-weight: bold;
					background-image: linear-gradient(
						to right,
						#ff0018,
						#ff0417,
						#ff310e,
						#ff5d06,
						#ff7a01,
						#ff8701,
						#ffb001,
						#d9c507,
						#79c718,
						#01c92d,
						#01be69,
						#01b3aa,
						#0ba1df,
						#3f77e6,
						#724cec,
						#8a39ef,
						#8a39ef
					);
					color: transparent;
				}
			}

			&--classic {
				span {
					font-weight: bold;
					color: #354167;
				}
			}

			img {
				width: 25px;
				height: 25px;
			}
		}

		.btn-group {
			.action-btn {
				padding: 0.4em 0.8em;
				border-radius: 4px;
				font-weight: normal;
				font-size: 1.3rem;
				text-transform: capitalize;
				font-weight: 500;
			}
		}

		.avatar-container {
			min-width: 180px;
			max-width: 180px;
			min-height: 180px;
			max-height: 180px;
			background-color: var(--bg-dark-lighten5);

			.status {
				width: 21%;
				height: 21%;
				bottom: 0.25em;
				right: 0.5em;
				background-color: var(--bg-dark-lighten5);
			}

			.avatar {
				padding: 0.4em;
			}
		}
	}

	&__comments {
		max-height: 300px;
		margin-top: auto;
		z-index: 50;
		overflow-y: auto;

		.avatar {
			min-width: 40px;
			width: 40px;
			min-height: 40px;
			height: 40px;
		}

		.comment-input {
			display: grid;
			grid-template-columns: 40px 1fr;
			grid-template-rows: repeat(2, 1fr);
			gap: 1em;
			padding: 0 0.5em;
			margin: 1.5em 0 0 0;

			input {
				padding: 0.6em 1em;
				background-color: var(--bg-dark-lighten10);
			}

			.input-controls {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				gap: 1em;
				grid-column: 2 / 3;

				i {
					position: relative;
					padding: 0.4em;
					margin-right: auto;
					border-radius: 50vw;
					font-size: 2.3rem;
					color: var(--text-primary-darken20);
					cursor: pointer;
					transition: color 0.5s, background-color 0.3s;

					&:hover {
						background-color: var(--bg-dark-lighten15);
					}
				}

				button {
					border: none;
					text-transform: capitalize;

					&.cancel-btn {
						background-color: transparent;
						color: var(--text-primary-darken20);

						&:hover {
							background-color: var(--bg-dark-lighten15);
						}
					}

					&:disabled {
						background-color: var(--bg-dark-lighten15);
						color: var(--text-low-contrast);
						cursor: default;
					}
				}

				.tooltip {
					display: block;
				}
			}
		}

		.comments-container {
			max-height: 500px;
			display: flex;
			flex-direction: column;
			overflow-y: auto;

			&__comment {
				position: relative;
				display: flex;
				align-items: flex-start;
				gap: 1em;
				padding: 1em 0.5em;
				border-radius: 8px;
				transition: 0.3s;

				&:hover {
					background-color: var(--bg-dark-lighten10);

					.delete-comment {
						display: block;
					}
				}

				.flex-column {
					gap: 0.2em;
				}
				.flex-row {
					gap: 0.5em;
				}

				span {
					&:nth-of-type(1) {
						font-size: 1.3rem;
						font-weight: 500;
						color: var(--text-primary-darken20);
					}
					&:nth-of-type(2) {
						font-size: 1.2rem;
						color: var(--text-mid-contrast);
					}
				}

				p {
					font-size: 1.4rem;
					color: var(--text-primary-darken20);
				}

				.delete-comment {
					display: none;
					position: absolute;
					top: 0.4em;
					right: 0.4em;
					padding: 0.5em;
					font-size: 1.3rem;
					color: var(--text-mid-contrast);
					cursor: pointer;
					transition: color 0.3s;

					&:hover {
						color: var(--text-primary-darken20);
					}
				}
			}
		}
	}
}
