.tool-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em 0.8em;
	background-color: var(--bg-dark-lighten5);

	&__pages {
		display: flex;
		flex-direction: column;
		gap: 0.5em;

		a {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0.5em;
			border-radius: 8px;
			text-decoration: none;
			font-size: 2rem;
			background-color: var(--bg-dark-lighten10);
			color: var(--text-primary-darken100);
			overflow: hidden;
			transition: background-color 0.3s;

			&:hover {
				background-color: var(--bg-dark-lighten15);
			}
			&:active {
				background-color: var(--bg-dark-lighten25);
			}

			&.friends {
				.pending-indicator {
					width: 20px;
					height: 20px;
					position: absolute;
					top: 0;
					right: 0;
					padding: 0.1em;
					border-radius: 50vw;
					background-color: var(--bg-dark-lighten10);
					user-select: none;

					p {
						width: 100%;
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						border-radius: 50vw;
						font-size: 1.5rem;
						background-color: var(--text-accent);
						color: var(--text-heading);
					}
				}
			}

			&.active {
				background-color: var(--bg-dark-lighten15);
				color: var(--text-primary);

				.pending-indicator {
					background-color: var(--bg-dark-lighten15);
				}
			}
		}
	}

	.separator-no-text {
		width: 60%;
		height: 2px;
		margin: 0.8em 0;
		background-color: var(--bg-dark-lighten15);
	}

	&__profile-menu {
		width: 40px;
		height: 40px;
		position: relative;
		margin-top: auto;
		cursor: pointer;

		> .avatar-container {
			width: 100%;
			height: 100%;
		}
	}
}
