.chats__list {
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	overflow-y: scroll;

	@media screen and (max-width: 768px) {
		margin-bottom: 73px;
	}

	&:hover {
		a::after {
			opacity: 0.5;
		}
	}

	&-chat {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.6em;
		padding: 0.5em;
		margin: 1px 10px 1px 1px;
		border-radius: var(--border-radius);
		text-decoration: none;
		transition: background-color 0.3s;
		z-index: 2;

		&.unread {
			.display-name,
			.last-chat {
				font-weight: bold;
				color: var(--text-primary);
			}
		}

		@media screen and (min-width: 768px) {
			&.active {
				background-color: var(--bg-dark-lighten15);
				cursor: default;
			}
		}

		&:not(.active) {
			&:hover {
				background-color: var(--bg-dark-lighten10);
			}

			&:active {
				background-color: var(--bg-dark-lighten15);
			}
		}

		.display-name {
			font-weight: 400;
			font-size: 1.5rem;
			color: var(--text-primary);

			span {
				color: var(--text-mid-contrast);
			}
		}

		.last-chat {
			display: flex;
			align-items: center;
			color: var(--text-low-contrast);

			.last-message {
				font-size: 1.3rem;
				overflow: hidden;
			}

			.comment-date {
				width: max-content;
				position: relative;
				font-size: 1.2rem;
			}
			.dot {
				height: 2px;
				width: 2px;
				margin: 0 5px;
				background-color: var(--text-low-contrast);
			}
		}
	}
}
