.chats {
	// Desktop
	// min-width: max-content;
	// max-width: 40vw;
	// min-height: 100vh;

	// Mobile
	height: 100vh;
	max-height: 100vh;
	flex-grow: 1;
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0 1em;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	background-color: var(--bg-dark-lighten5);
	color: var(--text-primary);
	resize: horizontal;

	@media screen and (min-width: 768px) {
		flex-grow: 0;
	}

	.page-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 1em 0 0.6em 0;

		h2 {
			font-size: 3rem;
			font-weight: 500;
		}

		// .avatar-container {
		// 	// --size: 50px;
		// }
	}

	.pinned {
		margin: 1em 0;

		a {
			.avatar {
				width: 45px;
				height: 45px;
			}
		}

		&__add {
			width: 45px;
			height: 45px;
		}
	}

	&__search-bar {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 1em;
		padding: 0.8rem 1.2rem;
		margin: 0.8em 0 1.2em 0;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		border-radius: 50vw;
		font-size: 1.5rem;
		background-color: var(--bg-dark);
		color: var(--text-mid-contrast);
		outline: none;

		input {
			all: unset;
			cursor: text;
			flex-grow: 1;
		}
	}
	&__filtered {
		&-user {
			display: flex;
			align-items: center;
			gap: 10px;
			padding: 0.5em;
			border-radius: var(--border-radius);
			cursor: pointer;
			color: white;
			transition: 0.3s;

			&:hover {
				background-color: var(--bg-dark-lighten10);
			}

			.avatar {
				width: 35px;
				height: 35px;
			}

			span {
				font-size: 1.6rem;
			}
		}
	}
}
