.chat-list {
	max-height: 80vh;
	margin-top: 1em;
	display: flex;
	flex-direction: column;
	gap: 0.2em;
	overflow-y: scroll;

	&:hover {
		a::after {
			opacity: 0.5;
		}
	}

	.card {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.6em;
		padding: 0.5em;
		margin: 1px;
		border-radius: var(--border-radius);
		text-decoration: none;
		transition: background-color 0.3s;
		z-index: 2;

		&.unread {
			.chat-info {
				.display-name,
				.last-chat {
					font-weight: bold;
					color: var(--text-primary);
				}
			}
		}

		&.active {
			background-color: var(--bg-secondary-lighten10);
		}

		&:hover {
			background-color: var(--bg-secondary-lighten5);
		}

		.chat-info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			z-index: 10;

			.display-name {
				font-weight: 400;
				font-size: 1.5rem;
				color: var(--text-primary);

				span {
					color: var(--text-mid-contrast);
				}
			}

			.last-chat {
				display: flex;
				align-items: center;
				color: var(--text-mid-contrast);

				.last-message {
					font-size: 1.3rem;
					overflow: hidden;
				}

				.comment-date {
					position: relative;
					font-size: 1.2rem;
				}
				.dot {
					height: 2px;
					width: 2px;
					margin: 0 5px;
					background-color: var(--text-low-contrast);
				}
			}
		}
	}
}
