.settings {
	width: 100%;
	display: flex;
	padding: 1em;

	.wrapper {
		width: 100%;
		max-width: calc(100vw - 8em);
		min-height: 100%;
		position: relative;
		display: flex;
		margin: 0 auto;
		border-radius: 8px;
		background-color: var(--bg-dark-lighten5);
		overflow: hidden;
		z-index: 0;
	}

	@media screen and (min-width: 576px) {
		.wrapper {
			max-width: calc(100vw - 12em);
		}
	}

	@media screen and (min-width: 992px) {
		.wrapper {
			max-width: 800px;
		}
	}

	@media screen and (min-width: 1200px) {
		.wrapper {
			max-width: 900px;
		}
	}

	@media screen and (min-width: 1600px) {
		.wrapper {
			max-width: 1000px;
		}
	}

	&__sidebar {
		width: max-content;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.3em;
		padding: 2em 1em 0.8em 1em;
		background-color: var(--bg-dark-lighten15);

		&-link {
			display: flex;
			align-items: center;
			gap: 0.8em;
			padding: 0.6em 1.4em;
			border-radius: 8px;
			text-transform: capitalize;
			transition: 0.2s;

			&:hover {
				background-color: var(--bg-dark-lighten20);
			}

			&:active {
				background-color: var(--bg-dark-lighten25);
			}

			&.active {
				background-color: var(--text-accent);
				cursor: default;

				i {
					color: var(--text-primary);
				}
			}

			img {
				width: 20px;
				height: 20px;
			}

			i {
				color: var(--text-accent);
			}

			&.logout {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: auto;
				font-weight: bold;
				background-color: var(--bg-dark-lighten25);
				cursor: pointer;
				color: #ad5649;

				i {
					color: #ad5649;
				}

				&:hover {
					background-color: #9c2820;
					color: var(--text-primary);

					i {
						color: var(--text-primary);
					}
				}
			}
		}

		.modal {
			&__content {
				display: flex;
				align-items: center;
				flex-direction: column;
			}

			.fa-hand {
				font-size: 5rem;
			}

			.btn-group {
				.btn {
					&:nth-child(2) {
						border: 1px solid #9c2820;
						background-color: #9c2820;
						color: var(--text-primary);
					}

					&:nth-child(1) {
						border: 1px solid #9c2820;
						background-color: transparent;
						color: #9c2820;
					}
				}
			}
		}

		&-user {
			display: flex;
			align-items: center;
			gap: 0.8em;
			padding: 0.6em;
			margin-bottom: 2em;
			border-radius: 8px;
			transition: background-color 0.2s;

			&:hover {
				background-color: var(--bg-dark-lighten20);
			}

			.avatar-container {
				width: 55px;
				height: 55px;
			}

			h3 {
				font-weight: 500;
				font-size: 1.6rem;
			}

			p {
				font-size: 1.3rem;
			}
		}
	}

	&__content {
		padding: 2em 1.6em 0.8em 1.6em;
	}
}
