@use '../colors' as *;

.user-list {
	min-width: max-content;
	max-width: 40vw;
	min-height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	background-color: $bg-secondary;
	// background-image: url('https://images.unsplash.com/photo-1618005182384-a83a8bd57fbe?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YWJzdHJhY3R8ZW58MHx8MHx8&w=1000&q=80');
	background-size: cover;
	background-position: center;
	color: $text-primary;
	overflow-y: auto;
	z-index: 100;
	resize: horizontal;

	.blur {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(40px);
		z-index: -1;
	}

	h2 {
		margin: 0.5em 0;
		font-size: 2.4rem;
	}

	.search {
		position: relative;
		padding: 0 1em;

		.search-form {
			label {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 1em;
				padding: 0.8rem 1.2rem;
				margin: 0.8em 0 2em 0;
				border: 1px solid $border-color;
				border-radius: $border-radius;
				border-radius: 50vw;
				font-size: 1.5rem;
				background-color: $bg-dark;
				color: $text-middle-contrast;
				outline: none;

				input {
					all: unset;
					cursor: text;
					flex-grow: 1;
				}
			}
		}
		.add-users {
			.user-chat {
				display: flex;
				align-items: center;
				gap: 10px;
				padding: 0.5em;
				border-radius: $border-radius;
				cursor: pointer;
				color: white;

				&:hover {
					background-color: $primary-color;
				}

				img {
					width: 35px;
					height: 35px;
					border-radius: 50%;
					object-fit: cover;
				}

				.user-chat-info {
					span {
						font-size: 1.6rem;
					}
					p {
						font-size: 1.4rem;
						color: lightgray;
					}
				}
			}
		}
	}

	.user {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em;
		margin-top: auto;
		margin-bottom: 0;
		border-top: 1px solid $border-color;

		div {
			display: flex;
			align-items: center;
			.avatar {
				width: 35px;
				height: 35px;
				margin-right: 10px;
			}

			span {
				font-size: 1.6rem;
			}
		}
	}
}
