@use '../colors' as *;
form {
	display: flex;
	flex-direction: column;
	margin: 1em 0.5em;

	.response {
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 0.5em 0.8em 1.5em 0.8em;
		border-top: 1px solid var(--border-color);
		font-size: 1.4rem;

		&__content {
			color: var(--text-low-contrast);

			img {
				max-height: 150px;
				border-radius: var(--border-radius);
			}
		}

		&__close-btn {
			padding: 0.2em;
			cursor: pointer;
			i {
				font-size: 1.8rem;
			}
		}
	}

	.add-comment {
		display: flex;
		align-items: flex-end;

		.attach-image {
			display: flex;
			align-items: center;
			padding: 8px 0;
			margin: 0 20px 0 0;

			&:hover {
				cursor: pointer;
			}

			input {
				display: none;
			}

			i {
				font-size: 2.5rem;
				color: var(--text-accent);
			}
		}

		.message-field {
			width: 100%;
			min-height: 36px;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			padding: 0.8rem 1.2rem;
			margin: 0;
			border-radius: 20px;
			background-color: var(--input-bg);

			.column {
				width: 100%;
				flex-direction: column;
				.thumbnails {
					display: flex;
					flex-direction: row;
					padding: 0.5em 0;
					.file-thumbnail {
						display: inline-block;
						position: relative;

						img {
							width: 48px;
							height: 48px;
							border-radius: 15px;
						}

						.remove-img {
							position: absolute;
							top: -8px;
							right: -8px;
							padding: 5px;
							border: none;
							border-radius: 50vw;
							background-color: var(--bg-dark);
							color: var(--text-accent);

							&:hover {
								cursor: pointer;
							}

							.close-btn {
								display: block;
								width: 12px;
								height: 12px;
							}
						}
					}
				}

				& > label {
					all: unset;
					input {
						width: 100%;
						padding: 0 0 0 0.5em;
						border: none;
						font-size: 1.5rem;
						color: var(--input-text);

						&:focus {
							outline: none;
						}
					}
				}
			}

			.toggle-emoji-picker {
				border: none;
				background-color: transparent;
				cursor: pointer;

				i {
					font-size: 2.5rem;
					color: var(--text-accent);
				}
			}
		}

		.EmojiPickerReact {
			position: absolute;
			top: 0;
			right: 0;
			transform: translateY(-105%);

			.epr-preview {
				display: none;
			}

			.epr-body {
				margin-right: 5px;
				&::-webkit-scrollbar {
					width: 4px;
				}

				&::-webkit-scrollbar-track {
					background: transparent;
				}
				&::-webkit-scrollbar-thumb {
					border-radius: 5px;
					background: var(--text-low-contrast);

					&:hover {
						background-color: #aaaaaa;
					}
				}
			}
		}
		.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
			top: -1px;
		}

		.input-tool {
			// align-self: center;
			max-height: 41px;
			padding: 4px 0;
			margin: 0 0 0 15px;
			background-color: transparent;
			border: none;

			&:hover {
				cursor: pointer;
			}

			i {
				font-size: 3rem;
				color: var(--text-accent);
			}

			span {
				display: flex;
				justify-content: center;
				align-items: center;
				pointer-events: none;
			}
		}
	}
}
