@use '../colors' as *;

.comments {
	display: flex;
	flex-direction: column-reverse;
	padding: 0 15px;
	overflow-x: hidden;
	overflow-y: scroll;

	.full-img {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 50%;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translate(-50%, -50%);
		z-index: 200;

		.wrapper {
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__img {
			max-width: 100%;
			max-height: 100%;
			position: relative;
			border-radius: 8px;
			z-index: 80;
		}

		&__background {
			width: 100vw;
			height: 100vh;
			position: absolute;
			top: 50%;
			left: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translate(-50%, -50%);
			z-index: 50;

			img {
				width: 100%;
				// min-width: 100%;
				min-height: 130%;
				max-height: 130%;
			}

			.backdrop-blur {
				width: 100%;
				height: 100%;
				position: fixed;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background-color: rgba(0, 0, 0, 0.5);
				backdrop-filter: blur(20px);
				z-index: 300;
			}
		}
		&__tools {
			position: absolute;
			top: 1em;
			right: 1em;
			display: flex;
			gap: 1em;
			z-index: 100;

			.tool {
				padding: 1.4em;
				border: none;
				border-radius: 50vw;
				background-color: rgb(29, 29, 29);
				color: #b3b3b3;
				cursor: pointer;

				i {
					position: absolute;
					font-size: 2.2rem;
					transform: translate(-50%, -50%);
				}
			}
		}
	}

	.comments-wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.bottom-ref {
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
	}

	&__conversation-start {
		margin: 2em 0;
		align-self: center;
		text-align: center;
		font-size: 1.5rem;

		p:nth-of-type(2) {
			font-size: 1.3rem;
			color: #979797;
		}
	}
	&__time-passed {
		align-self: center;
		padding: 2em 0 1em 0;
		font-size: 1.3rem;
		color: #888;
	}

	.confirm-message-delete {
		width: 100%;
		height: 100%;
		position: fixed;
		top: 50%;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.6);
		transform: translate(-50%, -50%);
		z-index: 150;

		&__content {
			max-width: clamp(15%, 25%, 80%);
			display: flex;
			flex-direction: column;
			padding: 1.5em;
			border-radius: 5px;
			background-color: $bg-color;
			z-index: 160;

			p:nth-of-type(2) {
				margin-top: 2em;
			}

			.message-to-delete {
				max-height: 400px;
				display: flex;
				flex-direction: column;
				padding: 0 1em 0 0;
				margin: 1em 0;
				overflow-y: auto;

				span {
					word-break: break-all;
					font-size: 1.5rem;

					&:nth-of-type(1) {
						margin-bottom: 1em;
					}
				}

				img {
					max-height: 250px;
					border-radius: 5px;
				}
			}

			.vertical-btns {
				display: flex;
				gap: 0.5em;
				margin-top: 1.5em;

				button {
					width: 50%;
				}
			}
		}
	}

	li {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 2px;
		background-color: transparent;

		&:hover {
			.comment-content {
				.comment-tools {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		.left-margin {
			position: relative;
			min-width: 36px;
			min-height: 36px;
			max-width: 36px;
			max-height: 36px;
			margin-right: 10px;
			.avatar {
				min-width: 36px;
				min-height: 36px;
				max-width: 36px;
				max-height: 36px;
			}
		}

		.response {
			max-width: 80%;
			width: fit-content;
			display: flex;
			align-items: center;
			margin-top: 1.5em;
			user-select: none;
			cursor: pointer;

			&.no-margin {
				margin-top: 0;
			}

			&__message {
				max-width: 100%;
				width: fit-content;
				padding: 0.4em 1em 1.5em 1em;
				margin-bottom: -1.5em;
				border-radius: 25px;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
				font-size: 1.5rem;
				word-break: break-all;
				background: #151515;
				color: #646464;
				overflow: hidden;
			}

			&__img {
				background-color: rgba(0, 0, 0, 0.5);
				margin-bottom: -1em;
				border-radius: 15px;
				overflow: hidden;
				img,
				video {
					position: relative;
					max-height: 150px;
					margin-bottom: -1em;
					border-radius: 15px;
					z-index: -10;
				}
			}

			&.deleted {
				.response__message {
					font-style: italic;
					color: #585858;
				}
			}
		}

		&.owner {
			align-self: flex-end;
			align-items: flex-end;
			.comment-content {
				.comment-createdAt {
					left: 0;
					right: auto;
					margin-left: -1em;
					transform: translate(-100%, -50%);
				}

				.comment-tools {
					left: -6.5em;
					right: auto;
					flex-direction: row-reverse;
				}

				&__text {
					border-radius: 25px;
					background-color: $primary-color;
				}
			}

			.created-at {
				align-self: flex-end;
			}

			.react-with-emoji {
				right: calc(100% + 0.5em);
				left: unset;

				svg {
					right: 10px;
					left: auto;
					transform: scaleX(-1);
				}
			}
		}

		&.group-top {
			margin-top: 20px;

			.comment-content {
				&__text {
					border-radius: 25px 25px 25px 5px;
				}
			}
		}

		&.group-top.owner {
			.comment-content {
				&__text {
					border-radius: 25px 25px 5px 25px;
				}
			}
		}

		&.group-middle {
			.comment-content {
				&__text {
					border-radius: 5px 25px 25px 5px;
				}
			}
		}

		&.group-middle.owner {
			.comment-content {
				&__text {
					border-radius: 25px 5px 5px 25px;
				}
			}
		}

		&.group-down {
			.comment-content {
				&__text {
					border-radius: 5px 25px 25px 25px;
				}
			}
		}

		&.group-down.owner {
			.comment-content {
				&__text {
					border-radius: 25px 5px 25px 25px;
				}
			}
		}

		&.deleted {
			.comment-content {
				user-select: none;
				&__text {
					background-color: $bg-color;
					color: #585858;
				}
			}
		}

		&.emoji-response {
			margin-bottom: 1em;
		}

		.comment-author {
			display: inline-block;
			margin-left: 60px;
			font-size: 1.4rem;
			color: rgba(156, 156, 156, 0.5);
		}

		.comment-content {
			position: relative;
			width: fit-content;
			max-width: 80%;
			display: flex;
			align-items: flex-end;

			&:hover {
				.comment-createdAt {
					visibility: visible;
					opacity: 1;
				}
			}

			.emoji-reaction {
				width: 15px;
				height: 15px;
				position: absolute;
				bottom: 0;
				right: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.7em;
				border-radius: 50vw;
				box-shadow: rgba(109, 109, 109, 0.15) 0px 4px 6px -3px, rgba(255, 255, 255, 0.05) 0px 4px 6px -2px;
				background-color: #121212;
				transform: translate(25%, 50%);
				z-index: 150;

				span {
					font-size: 1.3rem;
				}
			}

			.comment-createdAt {
				visibility: hidden;
				opacity: 0;
				width: max-content;
				position: absolute;
				top: 50%;
				left: auto;
				right: 0;
				padding: 0.6em 0.8em;
				margin-right: -1em;
				border-radius: 50vw;
				font-size: 1.2rem;
				background-color: #1b1a1a;
				z-index: 50;
				transform: translate(100%, -50%);
				transition: 0.1s;
				transition-delay: 0.3s;
				pointer-events: none;

				&.hidden {
					opacity: 0;
					visibility: hidden;
				}
			}

			.comment-tools {
				visibility: hidden;
				opacity: 0;
				position: absolute;
				top: 50%;
				right: -4.5em;
				display: flex;
				gap: 0.4em;
				font-size: 1.6rem;
				cursor: pointer;
				color: #a5a5a5;
				transform: translateY(-50%);
				transition: 0.1s;
				transition-delay: 0.3s;
				z-index: 100;

				&.visible {
					opacity: 1;
					visibility: visible;
				}

				&:hover + .comment-createdAt {
					visibility: hidden;
					opacity: 0;
				}

				i {
					padding: 0.4em;
				}
			}

			&__text {
				padding: 8px 12px;
				border-radius: 25px;
				border: 1px solid #252424;
				font-size: 1.5rem;
				word-break: break-all;
				background: #1b1a1a;
				color: #cacaca;
				overflow: hidden;

				&:hover + .comment-tools {
					visibility: hidden;
					opacity: 0;
				}

				.file-message {
					position: relative;

					&:hover {
						.file-message__preview {
							display: block;
						}
					}

					img {
						display: block;
						width: 100%;
						max-height: 200px;

						&.previewed {
							width: auto;
							max-height: 800px;
							position: fixed;
							top: 50%;
							left: 50%;
							border-radius: 5px;
							transform: translate(-50%, -50%);
							z-index: 200;
						}
					}

					video {
						display: block;
						max-height: 200px;
						width: 158px;
					}

					img,
					video {
						&.previewed {
							width: auto;
							max-height: 800px;
							position: fixed;
							top: 50%;
							left: 50%;
							border-radius: 5px;
							transform: translate(-50%, -50%);
							z-index: 200;
						}
					}

					&__preview {
						padding: 1em;
						display: none;
						width: 25px;
						height: 25px;
						position: absolute;
						top: 0.2em;
						right: 0.2em;
						border-radius: 50vw;
						background-color: rgba(0, 0, 0, 0.4);
						pointer-events: none;

						i {
							position: absolute;
							top: 50%;
							left: 50%;

							font-size: 1rem;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
		.react-with-emoji {
			position: absolute;
			top: calc(50% - 1.5em);
			left: calc(100% + 0.5em);
			right: unset;
			z-index: 300;
			transform: translate(0, -100%);

			svg {
				position: absolute;
				bottom: -10px;
				left: 10px;
				fill: #222;
			}

			.EmojiPickerReact {
				.epr-preview {
					display: none;
				}

				.epr-body {
					margin-right: 5px;
					&::-webkit-scrollbar {
						width: 4px;
					}

					&::-webkit-scrollbar-track {
						background: transparent;
					}
					&::-webkit-scrollbar-thumb {
						border-radius: 5px;
						background: #888;

						&:hover {
							background-color: #aaaaaa;
						}
					}
				}
			}
			.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
				top: -1px;
			}
		}
	}

	.scroll-down {
		width: 40px;
		height: 40px;
		position: absolute;
		bottom: 5em;
		left: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1em;
		border-radius: 50vw;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
		cursor: pointer;
		background-color: $bg-color;
		transform: translate(-50%, -10%);
		z-index: 100;
		opacity: 0;
		transition: 0.5s;

		&:hover {
			background-color: #1b1a1a;
		}

		&.active {
			opacity: 1;
			transform: translate(-50%, -50%);
		}

		i {
			color: $primary-color;
		}
	}
}

.pop {
	animation: pop 0.8s ease-out;
}

@keyframes pop {
	50% {
		background-color: #1b1b1b;
	}
}
