@use '../colors' as *;

.theme-creator {
	display: flex;
	align-items: center;
	gap: 2em;

	&__form {
		max-height: 80vh;
		margin: 0;
		overflow-y: auto;

		.part {
			margin: 0 1em 0.5em 1em;

			p {
				display: flex;
				align-items: center;
				gap: 0.5em;
				padding: 0.2em 0;
				margin-bottom: 0.3em;
				border-radius: var(--border-radius);
				font-size: 1.5rem;
				cursor: pointer;

				i {
					font-size: 1.2rem;
					color: var(--text-primary);
					// transition: 0.3s;

					&.active {
						transform: rotate(90deg);
					}
				}
			}

			.flex-row {
				gap: 1.5em;
			}

			input[type='range'] {
				accent-color: var(--text-accent);
			}

			.color-picker {
				min-width: 50%;
				max-width: max-content;
				height: 40px;
				display: flex;
				align-items: center;
				margin: 0 0 1em 0;
				border-radius: var(--border-radius);
				overflow: hidden;

				&__value {
					width: 50%;
					padding: 0.5em;
					border: none;
					border-radius: 0;
					text-align: center;
					font-size: 1.6rem;
					background-color: var(--bg-dark);
				}

				input[type='color'] {
					width: 50%;
					height: 100%;
					padding: 0;
					border: none;
					cursor: pointer;
					background-color: transparent;

					&::-webkit-color-swatch {
						border-radius: 0 var(--border-radius) var(--border-radius) 0;
						border: 3px solid var(--bg-dark);
						border-left: none;
					}

					&::-webkit-color-swatch-wrapper {
						padding: 0;
					}
				}
			}

			&.message-colors {
				.colors-list {
					max-height: 150px;
					overflow-y: auto;

					.color-picker {
						margin-bottom: 0.4em;

						.remove-color {
							min-width: 30px;
							min-height: 30px;

							display: flex;
							justify-content: center;
							align-items: center;
							margin-left: 1em;
							border-radius: 50vw;
							cursor: pointer;
							transition: 0.3s;

							&:hover {
								background-color: var(--bg-dark);
							}
						}
					}
				}
				.add-color {
					display: flex;
					align-items: center;
					gap: 0.5em;
					padding: 0.3em 0.5em;
					margin: 0.5em 0 1em 0;
					border-radius: var(--border-radius);
					background-color: var(--bg-dark);
					cursor: pointer;

					i {
						font-size: 1.4rem;
					}

					span {
						font-size: 1.4rem;
					}
				}
			}
		}
	}

	&__preview {
		.chat-preview {
			border-radius: 8px;
			overflow: hidden;
			user-select: none;

			&__top-bar {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 0.5em;
				padding: 0.3em 1em;
				box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
				font-size: 1.7rem;

				&__user {
					display: flex;
					align-items: center;
					gap: 0.5em;
					font-weight: bold;

					.avatar {
						width: 25px;
						height: 25px;
					}
				}

				i {
					font-size: 1.6rem;
				}
			}

			&__messages {
				display: flex;
				flex-direction: column;
				padding: 1em;

				.message {
					max-width: 80%;
					display: inline-block;
					align-self: flex-start;
					padding: 8px 12px;
					margin-bottom: 2px;
					font-size: 1.4rem;

					&.owner {
						align-self: flex-end;
					}
				}

				.centered {
					margin: 1em 0;
					font-size: 1.3rem;
					text-align: center;
				}
			}
			> .flex-row {
				max-width: 100%;
				margin: 0 0.5em 0.8em 0.5em;
				gap: 0.5em;

				i {
					font-size: 2rem;
				}
			}

			&__input {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 4px 12px;
				border-radius: 50vw;
				font-size: 1.5rem;
				color: #7c7c7c;
			}

			&__quick-emoji {
				font-size: 2rem;
			}
		}

		.flex-row {
			gap: 1.5em;
			margin-top: 1em;
			.btn {
				width: 50%;
				text-transform: uppercase;
			}
		}
	}
}
