.color-picker {
	min-width: 50%;
	max-width: max-content;
	height: 40px;
	display: flex;
	align-items: center;
	margin: 0 0 1em 0;
	border-radius: var(--border-radius);
	overflow: hidden;

	&__value {
		width: 50%;
		padding: 0.5em;
		border: none;
		border-radius: 0;
		text-align: center;
		font-size: 1.6rem;
		background-color: var(--bg-dark);
	}

	input[type='color'] {
		width: 50%;
		height: 100%;
		padding: 0;
		border: none;
		cursor: pointer;
		background-color: transparent;

		&::-webkit-color-swatch {
			border-radius: 0 var(--border-radius) var(--border-radius) 0;
			border: 3px solid var(--bg-dark);
			border-left: none;
		}

		&::-webkit-color-swatch-wrapper {
			padding: 0;
		}
	}
}
