$primary-color: #643e7a;
$bg-dark: #121212;
$bg-dark-hover: #181818;
$bg-secondary: #1e1e1e;
$bg-low-contrast: #151515;
$text-primary: #cacaca;
$text-low-contrast: #646464;
$text-middle-contrast: #888;
$heading-color: #d4d4d4;
$border-color: #252525;
$border-radius: 8px;
