@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// border: 1px solid #ff0000;
	// outline: 1px solid #ff0000;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	background-color: #121212;
	color: #fff;
	overflow: hidden;
}

.wrapper {
	max-width: calc(100vw - 3em);
	margin: 0 auto;
	width: 100%;
}

@media screen and (min-width: 576px) {
	.wrapper {
		max-width: calc(100vw - 5em);
	}
}

@media screen and (min-width: 992px) {
	.wrapper {
		max-width: calc(100vw - 10em);
	}
}

@media screen and (min-width: 1600px) {
	.wrapper {
		max-width: 1400px;
	}
}

.container {
	flex-grow: 1;
	padding: 0 60px;
}

.btn-group {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1em;

	.btn {
		width: 100%;
		text-transform: capitalize;

		&--50 {
			width: 50%;
		}
	}
}

.text-clip {
	// Parent must have overflow: hidden;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.overflow-hidden {
	overflow: hidden;
}

.flex-row {
	display: flex;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.align-start {
	align-items: start;
	align-items: flex-start;
}
.align-center {
	align-items: center;
}
.align-end {
	align-items: flex-end;
	align-items: end;
}

.justify-start {
	justify-content: start;
}
.justify-center {
	justify-content: center;
}
.justify-end {
	justify-content: end;
}

.vertical-container {
	height: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.separator {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5em;

	&::before,
	&::after {
		content: '';
		height: 1px;
		width: 100%;
		background-color: var(--text-primary);
		opacity: 0.1;
	}

	span {
		min-width: max-content;
		margin: 0 1em;
		opacity: 0.4;
		font-size: 1.4rem;
		font-weight: 300;
		color: var(--text-primary);
	}

	&.no-text {
		&::before,
		&::after {
			content: '';
			height: 1px;
			width: 100%;
			background-color: var(--text-primary);
			opacity: 0.1;
		}
	}
}
.w100 {
	width: 100%;
}
.h100 {
	height: 100%;
}

.flex-grow-1 {
	flex-grow: 1;
}

.mb0 {
	margin-bottom: 0;
}
.mb05 {
	margin-bottom: 0.5em;
}
.mb1 {
	margin-bottom: 1em;
}
.mb2 {
	margin-bottom: 2em;
}
.mb3 {
	margin-bottom: 3em;
}

.mt0 {
	margin-top: 0;
}
.mt05 {
	margin-top: 0.5em;
}
.mt1 {
	margin-top: 1em;
}
.mt2 {
	margin-top: 2em;
}
.mt3 {
	margin-top: 3em;
}

.gap0 {
	gap: 0;
}
.gap05 {
	gap: 0.5em;
}
.gap1 {
	gap: 1em;
}
.gap2 {
	gap: 2em;
}
.gap3 {
	gap: 3em;
}

.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn {
	min-width: max-content;
	display: block;
	padding: 0.5em 1em;
	border: 1px solid var(--text-accent);
	border-radius: var(--border-radius);
	font-size: 1.6rem;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	text-align: center;
	background-color: var(--text-accent);
	color: var(--btn-text);
	transition: 0.3s;
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: var(--text-accent-darken25);
	}

	&--secondary {
		border: 1px solid var(--text-accent);
		background-color: transparent;
		color: var(--text-accent);
		transition: 0.3s;

		&:hover {
			background-color: var(--bg-dark-lighten15);
		}
	}
}

@mixin custom-scrollbar {
	&::-webkit-scrollbar {
		width: 2px;
	}

	&::-webkit-scrollbar-track {
		background: transparent;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background: var(--bg-dark-lighten120);

		&:hover {
			background-color: var(--bg-dark-lighten90);
		}
	}
}

.custom-scrollbar {
	@include custom-scrollbar;

	&--horizontal {
		&::-webkit-scrollbar {
			height: 3px;
		}
	}
}

.outside-click-handler {
	all: inherit;
}

button {
	font-family: 'Poppins', sans-serif;
}

ul,
li {
	list-style-type: none;
}

h1,
h2,
h3 {
	color: var(--text-heading);
}

a {
	color: var(--text-primary);
	text-decoration: none;
}

/* forms */

input,
textarea {
	font-family: 'Poppins', sans-serif;
	outline: none;
	color: var(--text-primary);
}

label {
	display: block;
	margin-bottom: 16px;

	p {
		display: block;
		margin-bottom: 6px;
	}
}

textarea {
	min-height: 160px;
}

.error {
	max-width: 40ch;
	padding: 8px;
	margin: 10px 0;
	border: 1px solid red;
	border-radius: var(--border-radius);
	color: red;
	background: pink;
}

.text-center {
	text-align: center;
}

.text-capitalize {
	text-transform: capitalize;
}
.text-uppercase {
	text-transform: uppercase;
}

.cursor-pointer {
	cursor: pointer;
}

.EmojiPickerReact {
	z-index: 200;
	.epr-preview {
		display: none !important;
	}

	.epr-body {
		margin-right: 5px;
		&::-webkit-scrollbar {
			width: 4px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 5px;
			background: var(--text-low-contrast);

			&:hover {
				background-color: #aaaaaa;
			}
		}
	}
}

.EmojiPickerReact li.epr-emoji-category > .epr-emoji-category-label {
	top: -1px;
}
